.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popuptext {
  visibility: hidden;
  /* display: none; */
  width: 180px;
  background-color: #fff;
  box-shadow: var(--lightShadow);
  /* color: #fff; */
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 45%;
  margin-left: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.show {
  visibility: visible;
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.button_container {
  padding: 6px;
}
.button_container button {
  padding: 4px 10px;
  cursor: pointer;
}
.button_container button:first-child {
  background-color: #4b70d6;
  margin-right: 6px;
  color: #fff;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
