.sidebar_container {
  margin: 30px;
  margin-left: 0;
  background-color: #ffffff;
  width: 250px;
  padding: 30px;
  height: 100vh;
}
.sidebar_container p {
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0;
}
.checkbar {
  margin-bottom: 40px;
}
.checkbar label {
  font: normal normal medium 16px/34px Roboto;
  letter-spacing: 0px;
  color: #6f7070;
  opacity: 1;
}
.checkbar input {
  margin-right: 10px;

  /* font-size: 58px; */
}

@media screen and (max-width: 480px) {
  .sidebar_container {
    display: none;
  }
}
