.addtask_form {
  max-width: 450px;
  margin-top: 20px;
}
.checkbox {
  margin: 0 5px;
}
.label {
  font: normal normal bold 14px/24px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
}
