@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap");

/* Global Styles */
:root {
  --general-font: "Roboto";

  --brandLabel-color: #4b70d6;
  --text-grey-color: #6f7070;
  --Text-Body-color: #3e3e3e;
  --label-danger: #e24b4b;
  --label-primary: #00a7ff;
  --label-warning: #a6e009;
  --label-custom: #e2e2e2;
  --mainWhite: #ffffff;
  --offWhite: #f9f9f9;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 4px 3px 0px rgba(209, 209, 239, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: var(--general-font);
  background-color: #f0f0f1;
  font-size: 14px;
  line-height: 1.42857143;
  color: var(--Text-Body-color);
  overflow-x: hidden;
  /* margin-top: 80px; */
}

img {
  max-width: 100% !important;
  vertical-align: middle;
  border: none;
}
a {
  color: var(--Text-Body-color);
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.round-image {
  border-radius: 50%;
}

/* Utilities */
.container-holder {
  margin: 0 auto;
  padding: 0 15px;
}
.page_contentLayout {
  display: flex;
  margin-bottom: 60px;
}
/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.select {
  width: 100%;
  padding: 12px 5px;
  margin: 8px 0;
  font-style: 14px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: var(--text-body-color);
  text-transform: capitalize;
  box-sizing: border-box;
}

/* Cards */
.Card {
  padding: 1rem;
  border: #ccc 1px solid;
  margin: 0.7rem 0;
}

/* Animation keyframe */
.slide_top {
  animation: slide_top 0.5s linear forwards;
  animation-delay: 0.2s;
}

@media screen and (max-width: 480px) {
  .page_contentLayout {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    /* margin-bottom: 60px; */
  }
}
@media screen and (min-width: 768px) {
  .container-holder {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-holder {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-holder {
    width: 1170px;
  }
}

@keyframes slide_top {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #47ccde;
  border-color: #47ccde;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #47ccde;
  border-color: #47ccde;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
